h1 {
    display: flex;
    flex-direction: column;
    border: transparent;
    background-color: black;
    width: 15%;
    color: white;

}

.pic {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    width: 135%;
    height: 500%;
}


.Journal {
    display: flex;
    flex-direction: column;
    border-radius: 15px 50px;
    background-color: rgb(80, 80, 80);
    border: none;
    width: 25%;
    height: 100px;
    margin: 25px;
    
}

.journ {
    border-radius: 15px;
    }

    .journl {
        color: rgb(0, 0, 0);
        background-color: rgb(41, 51, 51);
        border-radius: 15px;
        height: 50%;
        width: 30%
}

button {
    border-radius: 15px;
    background-color: darkgrey;
}

body {
    background-color: rgb(44, 44, 44);
    width: 1480px;
    height: 874px;
    
}